*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    
}
body{
  width: 100%;
  max-width: 800px;
  background-color: lightblue;
  margin:20px auto 20px;
  padding: 10px 30px;
  text-align: center;
  

}

.container{
  width: 100%;
  max-width: 900px;
    
    padding:20px 5px;
    margin:20px auto 20px;

 
}

h1{
  text-align: center;
     font-size: 50px;
    padding: 20px;
    font-weight: 700;
    
}
.quotes-app{
  margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
    
}

.quotes-app input{
  outline: 0;
  color: rgb(53, 53, 53);
     width: 70%;
     padding: 20px;
     border: none;
     border-radius: 5px;
     font-size: 20px;
     background-color: #fff9e0;

}
  .quotes-app button img{
    
    
    width: 40px;
    margin: 10px;
   

  }
  
  .quotes-app button{
    outline:0;
    border: 0;
    border-radius: 5px;
    background-color: #fff9e0;
  }

  .para{
    background-color: #fff9e0;
    color:rgb(53, 53, 53);
    margin: 30px 30px 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    
      }

    #para{
      margin: 20px;
      padding: 10px;
    }

    #author{
      margin: 20px;
      padding: 20px;
      font-style: italic;
      color: #4b1b1b; /* Lighter color for author */
      /*margin-bottom: 20px;
      position: relative;
      left: 30px;*/
    }
    #favbtn{
         width: 40px;
         position: relative;
         left:20px;
         margin: 5px 50px 10px;
    }

    #favbtn.checked{
     
      background-size: cover;
      background-image: url(add-to-favorites.png);
      
    
    }
    

    .favoritebtn{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top:10px ;
      margin-bottom:  20px;
      gap: 20px;
    
    }

    #btn{
      padding: 15px;
      font-size: 20px;
      border: none;
      border-radius: 15px;
      background-color:  #f1c550;
    
    }
    #nextbtn{
      padding: 15px;
      font-size: 20px;
      border: none;
      border-radius: 15px;
      background-color:  #f1c550;
    }

    .favoritelist {
      margin-top: 20px;
  }
  .nextbutton{
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    background-color:  #f1c550;
    position: relative;
    bottom: 20px;


  }
/* .favorite-quote {
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #fff;
      margin-bottom: 10px;
      text-align: left;
  }*/

  ul li{
    list-style: none;
    font-size: 25px;
    align-items: center;
    padding: 10px;
      
     
  }
  p{
    list-style: none;
    font-size: 25px;
    align-items: center;
    padding: 10px;
      
     
  }
  #searchHistory .quote {
    margin-bottom: 20px; /* Space between quote and author */
    text-align: center;
  }
  
  #searchHistory .author {
    font-style: italic;
    color: #4b1b1b; /* Lighter color for author */
    margin-bottom: 20px;
    position: relative;
    left: 30px;
  }
  
  #favoritelist .quote {
    margin-bottom: 20px; /* Space between quote and author */
    text-align: center;
  }
  
  #favoritelist .author {
    font-style: italic;
    color: #4b1b1b; /* Lighter color for author */
    margin-bottom: 20px;
    position: relative;
    left: 30px;
  }
  

  .button{
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color:  #f1c550;
    position: relative;
    left: 20px;

  }

  .visible{
     display: block;
  }
  .hidden{
    display: none;
  }
  @media (max-width:480px) {
      .favoritebtn{
        flex-direction: column;
      }
      .para{
        width: 100%;
        max-width: 900px;
          
          padding:20px 5px;
          margin:20px auto 20px;
      }
       
  } 
  @media (max-width:900px){
    .container{
      
  
  text-align: center;
    }
    .para{
      width: 100%;
      max-width: 900px;
        
        padding:20px 5px;
        margin:20px auto 20px;
    }
    #favbtn{
      position: relative;
      left: 30px;
    }
  }
  @media (max-width:600px) {
    .favoritebtn{
      flex-direction: column;
    }
    .para{
      width: 100%;
      max-width: 900px;
        
        padding:20px 5px;
        margin:20px auto 20px;
      text-align: center;
    }
    .button{
      position: relative;
      left:20px;
      margin-top: 15px;
    }
  }
  @media (max-width:500px){
    
    .para p{
      padding: 20px 10px;
    }
    #favoritelist .quote {
      font-size: 20px;
    }
    
    #favoritelist .author {
     font-size: 20px;
  }
  .button{
    font-size: 15px;
  }
}
    
  @media (max-width:400px){
    .para{
      width: 100%;
  max-width: 1000px;
    
    padding:20px 5px;
    margin:20px auto 20px;
    font-size: 20px;
    }
    #nextbtn{
      font-size: 15px;
    }
    #btn{
      font-size: 15px;
    }
    h1{
      font-size: 30px;
    }
    .quotes-app input{
      font-size: 17px;
    }
    .quotes-app button img{
      width: 35px;
    }
   
    
  }

  @media (max-width:350px){
    #favoritelist .author {
      position: relative;
      left: 5px;
    }
  }

